[submodule "src/Odiseo/Bundle/EcommerceBundle"]
	path = src/Odiseo/Bundle/EcommerceBundle
	url = https://github.com/odiseoteam/OdiseoEcommerceBundle.git
[submodule "src/Odiseo/Bundle/OrderBundle"]
	path = src/Odiseo/Bundle/OrderBundle
	url = https://github.com/odiseoteam/OdiseoOrderBundle.git
[submodule "src/Odiseo/Bundle/ProductBundle"]
	path = src/Odiseo/Bundle/ProductBundle
	url = https://github.com/odiseoteam/OdiseoProductBundle.git
[submodule "src/Odiseo/Bundle/UserBundle"]
	path = src/Odiseo/Bundle/UserBundle
	url = https://github.com/odiseoteam/OdiseoUserBundle.git
[submodule "src/Odiseo/Bundle/NotificationBundle"]
	path = src/Odiseo/Bundle/NotificationBundle
	url = https://github.com/odiseoteam/OdiseoNotificationBundle.git
[submodule "src/Odiseo/Bundle/RegionBundle"]
	path = src/Odiseo/Bundle/RegionBundle
	url = https://github.com/odiseoteam/OdiseoRegionBundle.git
