{% extends 'OdiseoLokalBuddyBundle:Frontend:layout.html.twig' %}

{% block content %}
<section id="general">	
</section>

<div class="container margin_60">
	<div class="main_title">
		<h2>Your <span>Registration</span> was successful.</h2>
		<p>Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.</p>
	</div>
</div>
{% endblock %}