<div id="tools">
	<div class="row">
		<div class="col-md-3 col-sm-3 col-xs-6">
			<div class="styled-select-filters">
				<select name="sort[price]" id="sort_price">
					<option value="" selected>Sort by price</option>
					<option value="asc">Lowest price</option>
					<option value="desc">Highest price</option>
				</select>
			</div>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-6">
			<div class="styled-select-filters">
				<select  name="sort[rating]" id="sort_rating">
					<option value="" selected>Sort by ranking</option>
					<option value="asc">Lowest ranking</option>
					<option value="desc">Highest ranking</option>
				</select>
			</div>
		</div>            	
    
		<div class="col-md-6 col-sm-6 hidden-xs text-right">
			<a href="#" class="bt_filters"><i class="icon-th"></i></a>
			<a href="#" class="bt_filters"><i class=" icon-list"></i></a>
		</div>
	</div>
</div><!--/tools -->