* { margin:0;padding:0 }
html,body{ height:100%; width: 100%; margin: 0; padding: 0; font-size: 15px; }

/* new clearfix */
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 1.5em;
	line-height: 1.5em;
}
h2 a {
	color: #FFFFFF;
	background-color: #FABE49;
}
.container {
	margin: 0;
	height: 100%;
	width: 100%;
	background: url(../images/coming-soon.jpg) no-repeat center center;
	background-size: cover;
	position: relative;
}
.container .logo {
	position: absolute;
	top: 5%;
	left: 50%;
	height: 28%;
	max-width: 100%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

.container .contact {
	position: absolute;
	top: 35%;
	left: 10%;
	width: 80%;
	text-align: center;
	padding: 0;
}
.container .contact > h2 {
	text-transform: uppercase;
	color: #FFFFFF;
	
}

.container .contact > h2 span {
	font-weight: bold;
}

.container .contact form{
	width: 100%;
}
.container .contact .subscribeText {
	font-family: 'Raleway', sans-serif;
	font-size: 1.3em;
	color: #FFFFFF;
}
.container .contact form {
	width: 40%;
	margin: 2% auto 0 auto;
}
.container .contact form input {
	width: 60%;
	background-color: #FFFFFF;
	color: #000000;
	font-weight: bold;
	float: left;
	height: 25px;
	font-family: 'Raleway', sans-serif;
	font-size: 1.1em;
	outline: 0;
	border: 0;
	padding: 5px;
}
.container .contact form button {
	height: 35px;
	background: none;
	border: 4px solid #FFFFFF;
	padding: 5px 0;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight: bold;
	width: 34%;
	float: right;
	cursor: pointer;
	letter-spacing: 1px;
}
.container .contact form input.error {
	border: 1px solid #cd2027;
}
.container .contact .registerLink {
	width: 40%;
	margin: 15px auto 0 auto;
}
.container .contact .registerLink a {
	float: right;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 13px;
  	letter-spacing: 1px;
}
.container footer {
	position: absolute;
	bottom:3%;
	width: 100%;
	height: 50px;
}
.container footer h2 {
	color: #FFFFFF;
	font-weight: 300;
}
.container footer .brandsUrl {
	float: left;
	line-height: 50px;
	margin-left: 30px;
}
.container footer .siguenos {
	float: right;
	margin-right: 30px;
}

.container footer .siguenos h2 {
	float: left;
	line-height: 50px;
	margin-right: 10px;
}

.container footer ul.social {
	list-style: none;
	text-align: center;
}
.container footer ul.social li {
	margin-right: 12px;
	padding: 5px;
	display: inline-block;
}
.container footer ul.social li:last-child {
	margin-right: 0;
}
.container .contact .transbox {
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

.container .contact .transbox h2 {
	font-size: 2em;
}

.container .contact .transbox h2 a {
	font-size: 0.8em;
	padding: 2px;
	text-decoration: none;
}


/* INPUT PLACEHOLDER */

.container .contact input::-webkit-input-placeholder {
	text-transform: uppercase;
	color: #d0d0d0;
	text-align: center;
}

.container .contact input::-moz-placeholder {  /* Firefox 19+ */
	text-transform: uppercase;
	color: #d0d0d0;
	text-align: center;  
}

.container .contact input:-ms-input-placeholder {  
	text-transform: uppercase;
	color: #d0d0d0;
	text-align: center;  
}

/* media querys */

@media screen and (max-width: 971px) 
{
	html,body {
		font-size: 10px;
	}
	
}

@media screen and (max-width: 730px) 
{	
	.hidden-xs {
		display:none;
	}
	
	.container .contact > h2 {
		font-size: 1.5em;
	}
	
	.container .contact form {
		width: 100%;
	}
	
	.container .contact .registerLink {
		width: 100%;
	}
	
	.container .contact form button {
		font-size: 9px;
	}
	
	.container .contact {
		left: 5%;
		width: 90%;
	}
}


@media screen and (max-width: 730px) and (orientation: landscape) 
{
	.container .contact > h2 {
		font-size: 1.2em;
	}
	
	.hidden-xs {
		display:none;
	}	
}

@media screen and (max-height: 480px)  
{	

	html, body {
		font-size: 9px;
	}
	.container .contact .transbox h2 {
		font-size: 1.9em;
	}
}