{% extends 'OdiseoUserBundle:Frontend:layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
<section id="general">	
</section>

<div class="container margin_60">
	<div class="main_title">
		<h2>Password reset</h2>
		<br>
		<p>{{ 'resetting.check_email'|trans({'%email%': email}) }}</p>
	</div>
</div>
{% endblock %}