body > section {
  position: relative;
  height: 100px;
  background: #black;
  color: #fff;
  width: 100%;
  font-size: 16px;
  display: table;
  z-index: 99;
  text-align: center;
}

body > section#general {
	background: #FFFFFF;
}

body > section#product {
	background: #FFFFFF;
}
	
.user-picture {
	border-radius: 50%;
	overflow: hidden;
}

.user-picture img {
	width: 100%;
}

.file-overlay {
	width: 200px;
	position: absolute;
}

.file-overlay + input[type="file"] {
	-moz-opacity: 0;
	-khtml-opacity: 0;
	-webkit-opacity: 0;
	opacity: 0;
	cursor: pointer;
	width: 200px;
	z-index: 100;
}

#top_line {
	border-bottom: 1px solid #e14a3f;	
}

ul#top_links li {
	border-left: 1px solid #e14a3f;
}

.tp-static-layers {
	width: 100%;
	height: 100%;
}

.tp-leftarrow.default, .tp-rightarrow.default {
	z-index: 999;
}

.nav-submit-button .nav-submit-input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.nav-facade-active #searchDropdownBox {
	left: 0;
	width: 100%;
}

#top_line {
	padding-bottom: 10px;
	height: auto;
	font-size: 14px;	
}

#top_line .user-picture {
	height: 28px;
	width: 28px;
	display: inline-block;
	position: absolute;
	top: -4px;
}

#top_line .user-name {
	margin: 0;
	padding-left: 35px;
}

header.sticky #top_line {
	display: none;
}

ul#top_links .dropdown-access .dropdown-menu.user a.btn_full {
	background: #e14a3f;	
	color: #FFFFFF;
}

ul#top_links .dropdown-access .dropdown-menu.user a.btn_full_outline {
	border: 2px solid #e14a3f;
	color: #d91e5c !important;
}

.btn_full.blue {
	background: #3CF;
}

.btn_full.pink {
	background: #d91e5c;
}

.map-search {
	position: absolute;
	top: 100px;
	left: 0;
	bottom: 0;
	width: 100%;
	margin: 0;
}

.map-search > .row {
	margin: 0;
	height: 100%;
}

.map-search aside {
	padding: 0;
	height: 100%;
}

.map-search aside > form {
	height: 30%;
}

.map-search aside > .mapContainer {
	padding: 0;
	height: 70%;
}

.map-search .filters .filter {
	padding: 15px;
	position: relative;
}

.map-search .filters .filter.with-border:before {
	content: "";
	display: block;
	height: 1px;
	border-top: 1px solid #dce0e0;
	border-color: rgba(220,224,224,0.5);
	position: absolute;
	top: -1px;
	left: 15px;
	right: 15px;
}

.map-search .filters .filter .filter-label {
	font-size: 14px;
}

.map-search .filters .filter .filter-value ul {
	padding: 0;
	list-style: none;
	margin: 0;
}

.map-search .filters .filter .filter-value ul li {
	float: left;
	width: 33%;
	margin: 10px 0;
}

.map-search .filters .filter .filter-value ul li label {
	width: 80%;
	font-weight: 400;
	margin: 0;
}
 
.map-search .filters .filter .priceValues {
	  margin: 0;
} 

.map-search #tools {
	margin: 0;	
}

.map-search > .row > div:last-child {
	overflow-y: scroll;
	height: 100%;
}
	
.map-search .product-list {
	padding: 15px;
}

.map-search #map {
	height: 100%;
}

#map_container {
        height: 500px;
        margin: 0px;
        padding: 0px;
        width: 100%;
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}
  
.basicFilters .row.filter .towns {
   height: 10em;
   overflow-y: scroll;
}

form ul.images {
	padding: 0;
  	list-style: none;
}

form ul.images li > div {
	float: left;
}

form ul.images li > div label {
	display: none;
}

form ul.images li > a {
	float: right;
	color: #000000;
	font-size: 15px;
}

form ul.images li > a.add_image_link {
	float: none;
	font-size: 12px;
	background: #e14a3f;
	color: #FFFFFF;
	margin-top: 10px;
}

/** CREATE UI **/
.create-ui-logo {
	z-index: 999999;
}

a.create-ui-toggle {
    background-image: url("/bundles/syliusweb/img/logo.png");
}

.create-ui-toolbar-wrapper {
    background-color: #333 !important;
	z-index: 99999;
}
.create-ui-toolbar-wrapper.editing {
	background: rgba(0, 0, 0, 0.7) !important;
}

a.create-ui-toggle {
    background-image: url('/bundles/syliusweb/img/logo.png') !important;
    background-size: 36px 41px !important;
    background-repeat: no-repeat !important;
    cursor: pointer;
}
.create-ui-toolbar-wrapper a {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}
.create-ui-btn {
    background-color: #333 !important;
    border: 1px solid #1abb9c !important;
    color: #1abb9c !important;
}
.create-ui-btn:hover {
    background-color: #444 !important;
    border: 1px solid #1abb9c !important;
    color: #1abb9c !important;
}
[contenteditable="true"] {
    outline: 1px solid #1abb9c !important;
}
[contenteditable="true"].inEditMode {
    outline: 3px solid #1abb9c !important;
}
.search_bar.filterType ul li {
	display: inline-block;
	width: 33.3%;
}
.search_bar.filterType ul li:nth-child(1) {
	text-align: left;
}
.search_bar.filterType ul li:nth-child(2) {
	text-align: center;
}
.search_bar.filterType ul li:nth-child(3) {
	text-align: right;
}
.search_bar.filterType ul li label {
	display: inline-block;
	color: #FFFFFF;
}
.search_bar.filterType ul li:nth-child(1) .icheckbox_square-grey, .iradio_square-grey {
	background-image: url(../css/skins/square/foods.png);
}
.search_bar.filterType ul li:nth-child(2) .icheckbox_square-grey, .iradio_square-grey {
	background-image: url(../css/skins/square/tours.png);
}
.search_bar.filterType ul li:nth-child(3) .icheckbox_square-grey, .iradio_square-grey {
	background-image: url(../css/skins/square/activities.png);
}
.search_bar.filterType ul li label span {
	padding: 0 15px 0 0;
  	font-size: 14px;
}
.search_bar.filterTown {
	margin: 15px auto 0 auto;
	font-size: 14px;
}
.search_bar.filterTown a {
	color: #e14a3f;
}
#twotabsearchtextbox {
	  padding: 3px 0 0 0;
}
.pickOfWeek .powTitle {
	font-size: 25px;
  	text-align: center;
}
.pickOfWeek .powSubtitle {
	font-size: 18px;
	text-align: center;
}
.pickOfWeek .eat .powTitle {
	color: #ee37c3;
}
.pickOfWeek .tours .powTitle {
	color: #1f65ae;
}
.pickOfWeek .activities .powTitle {
	color: #d5e657;
}
.whyLokals {
	background: url(../img/why_lokal_background.png) no-repeat;
	height: 440px;
	background-size: cover;
}
.whyLokals h3 {
	text-align: center;
	margin: 40px;
	font-size: 37px;
}
.whyLokals p {
  color: #ffffff;
  padding: 0 50px;
  font-size: 15px;
}
.whyLokals .btn_1 {
	background: #e14a3f;
}
/* How it works */
.margin_60.howitworks {
  padding-top: 140px;
}
#cat_nav li a#dropdown{
	font-weight:bold;
	
}
#cat_nav ul#collapseHowWorks li,ul#collapseFaq li{
	border:none;
}
#cat_nav ul#collapseHowWorks li a:after,ul#collapseFaq li a:after{
	content: none;
}
#cat_nav li a#dropdown:hover, #cat_nav li a#dropdown#active {
  background: #e14a3f;
  color: #FFFFFF;
}
.sidebarTitle{
	padding-left: 15px;
}
/* */
footer {
	padding: 0px 0 10px 0;
	background: #e14a3f;
}
footer .redBar {
	height: 32px;
	background: #61201b;
	-webkit-box-shadow: 0px 10px 30px -8px rgba(0,0,0,0.47);
	-moz-box-shadow: 0px 10px 30px -8px rgba(0,0,0,0.47);
	box-shadow: 0px 10px 30px -8px rgba(0,0,0,0.47);
}
#social_footer {
	border: none;
	margin-top: 0;
}
footer .logoFooter {
	margin: 0 auto;
}