body > section {
  position: relative;
  height: 100px;
  background: #black;
  color: #fff;
  width: 100%;
  font-size: 16px;
  display: table;
  z-index: 99;
  text-align: center;
  text-transform: uppercase;
}

body > section#general {
	background: #FFFFFF;
}

body > section#product {
	background: #FFFFFF;
}
	
.tp-static-layers {
	width: 100%;
	height: 100%;
}

.tp-leftarrow.default, .tp-rightarrow.default {
	z-index: 999;
}

.nav-submit-button .nav-submit-input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.nav-facade-active #searchDropdownBox {
	left: 0;
	width: 100%;
}

ul#top_links .dropdown-access .dropdown-menu.user a.btn_full {
	background: #e14a3f;	
	color: #FFFFFF;
}

ul#top_links .dropdown-access .dropdown-menu.user a.btn_full_outline {
	border: 2px solid #e14a3f;
	color: #d91e5c !important;
}

.map-search {
	position: absolute;
	top: 100px;
	left: 0;
	bottom: 0;
	width: 100%;
	margin: 0;
}

.map-search > .row {
	margin: 0;
	height: 100%;
}

.map-search aside {
	padding: 0;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

.map-search .filters .filter {
	padding: 15px;
	position: relative;
}

.map-search .filters .filter.with-border:before {
	content: "";
	display: block;
	height: 1px;
	border-top: 1px solid #dce0e0;
	border-color: rgba(220,224,224,0.5);
	position: absolute;
	top: -1px;
	left: 15px;
	right: 15px;
}

.map-search .filters .filter .filter-label {
	font-size: 14px;
}

.map-search .filters .filter .filter-value ul {
	padding: 0;
	list-style: none;
	margin: 0;
}

.map-search .filters .filter .filter-value ul li {
	float: left;
	width: 33%;
	margin: 10px 0;
}

.map-search .filters .filter .filter-value ul li label {
	width: 80%;
	font-weight: 400;
	margin: 0;
}
 
.map-search .filters .filter .priceValues {
	  margin: 0;
} 

.map-search #tools {
	margin: 0;	
}

.map-search .product-list {
	padding: 15px;
}

.map-search .mapContainer {
	padding: 0;
	height: 100%;
}

.map-search #map {
	height: 100%;
}

#map_container {
        height: 500px;
        margin: 0px;
        padding: 0px;
        width: 100%;
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}
  
.basicFilters .row.filter .towns {
   height: 10em;
   overflow-y: scroll;
}

form ul.images {
	padding: 0;
  	list-style: none;
}

form ul.images li > div {
	float: left;
}

form ul.images li > div label {
	display: none;
}

form ul.images li > a {
	float: right;
	color: #000000;
	font-size: 15px;
}

form ul.images li > a.add_image_link {
	float: none;
	font-size: 12px;
	background: #e14a3f;
	color: #FFFFFF;
	margin-top: 10px;
}

/** CREATE UI **/
.create-ui-logo {
	z-index: 999999;
}

a.create-ui-toggle {
    background-image: url("/bundles/syliusweb/img/logo.png");
}

.create-ui-toolbar-wrapper {
    background-color: #333 !important;
	z-index: 99999;
}
.create-ui-toolbar-wrapper.editing {
	background: rgba(0, 0, 0, 0.7) !important;
}

a.create-ui-toggle {
    background-image: url('/bundles/syliusweb/img/logo.png') !important;
    background-size: 36px 41px !important;
    background-repeat: no-repeat !important;
    cursor: pointer;
}
.create-ui-toolbar-wrapper a {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}
.create-ui-btn {
    background-color: #333 !important;
    border: 1px solid #1abb9c !important;
    color: #1abb9c !important;
}
.create-ui-btn:hover {
    background-color: #444 !important;
    border: 1px solid #1abb9c !important;
    color: #1abb9c !important;
}
[contenteditable="true"] {
    outline: 1px solid #1abb9c !important;
}
[contenteditable="true"].inEditMode {
    outline: 3px solid #1abb9c !important;
}