{% extends 'OdiseoUserBundle:Frontend:layout.html.twig' %}

{% block content %}
<section id="general">	
</section>

<div class="container margin_60">
	<div class="row">
		<div class="col-md-12">
			<h2>Your profile</h2>
			<hr>
			<ul class="nav nav-tabs">
				<li class="active"><a href="#info" data-toggle="tab">Info</a></li>
				<li><a href="#buyer-profile" data-toggle="tab">Buyer profile</a></li>
				<li><a href="#vendor-profile" data-toggle="tab">Vendor profile</a></li>
				<li><a href="#medias" data-toggle="tab">Your medias</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="info">
					<h3 style="margin: 0 0 40px 0;">General information</h3>
					<p>Username: {{ user.username }}</p>
					<p>Email: {{ user.email }}</p>
				</div>
				<div class="tab-pane" id="buyer-profile">
					<h3 style="margin: 0 0 40px 0;">Your buyer information</h3>
				</div>
				<div class="tab-pane" id="vendor-profile">
					<h3 style="margin: 0 0 40px 0;">Your vendor information</h3>
				</div>
				<div class="tab-pane" id="medias">
					<h3 style="margin: 0 0 40px 0;">Your medias</h3>
					<a href="{{ path('odiseo_product_new') }}" class="btn_1">Add new media</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
